### Sample program for crawling (JSON)

#### Import libraries

In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pandas import json_normalize

#### Parameters

In [13]:
# set your API key
url = 'http://api.openweathermap.org/data/2.5/weather?lat=35.6828387&lon=139.7594549&appid=62484e4a5514ecd6b6e4226961367674'

#### Crawling of web page

In [14]:
s = requests.Session()
r = s.get(url)
json = r.json()
print(json)

{'coord': {'lon': 139.76, 'lat': 35.68}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'base': 'stations', 'main': {'temp': 282.06, 'feels_like': 277.57, 'temp_min': 281.15, 'temp_max': 283.71, 'pressure': 1024, 'humidity': 93}, 'visibility': 10000, 'wind': {'speed': 5.7, 'deg': 10}, 'rain': {'1h': 0.32}, 'clouds': {'all': 75}, 'dt': 1606903742, 'sys': {'type': 1, 'id': 8074, 'country': 'JP', 'sunrise': 1606858398, 'sunset': 1606894069}, 'timezone': 32400, 'id': 1857654, 'name': 'Marunouchi', 'cod': 200}

#### Dic to dataframe

In [15]:
df_json = json_normalize(json)
print(df_json.shape)
display(df_json)

(1, 25)

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.humidity,wind.speed,wind.deg,rain.1h,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1606903742,32400,1857654,Marunouchi,200,139.76,35.68,...,93,5.7,10,0.32,75,1,8074,JP,1606858398,1606894069

#### Get info from df

In [16]:
fc = df_json.at[0, 'weather']
for i in range(len(fc)):
    print(fc[i]['main'])

Rain