### Sample program for crawling

#### Import libraries

In [39]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Parameters

In [40]:
url = 'http://127.0.0.1:8887/toyo2019_basic_data.html'
csv_out = 'num_students_toyo.csv'

#### Crawling of web page

In [41]:
s = requests.Session()
r = s.get(url)

print(r.status_code)
print(r.encoding)

200
utf-8

#### Scraping (parse web contents)

In [42]:
bs = BeautifulSoup(r.text, 'html.parser')

#### Get info of elements by tag

In [43]:
# all
print("FIND_ALL:")

department_names= []
student_counts= []

tbody_all = bs.find_all('tbody')
tbody= tbody_all[0]
tr_all= tbody.find_all('tr')
for tr in tr_all:
    th_all= tr.find_all('th')
    for th in th_all:
        department_names.append(th.text)
    td_all= tr.find_all('td')
    for td in td_all:
        student_counts.append(td.text) 

print(len(department_names))
print(department_names)
print(len(student_counts))
print(student_counts)

FIND_ALL:
15
['Letters', 'Economics', 'Business Administration', 'Law', 'Sociology', 'Regional Development Studies', 'Global and Regional Studies', 'International Tourism Management', 'INIAD', 'Human Life Design', 'Science and Engineering', 'Information Sciences and Arts', 'Life Sciences', 'Food and Nutritional Sciences', 'Total']
45
['1,615', '2,148', '3,763', '1,912', '815', '2,727', '1,832', '1,140', '2,972', '1,504', '746', '2,250', '1,301', '1,981', '3,282', '233', '402', '635', '430', '727', '1,157', '300', '824', '1,124', '917', '262', '1,179', '1,013', '1,358', '2,371', '2,872', '575', '3,447', '858', '296', '1,154', '608', '311', '919', '349', '546', '895', '15,744', '12,131', '27,875']

In [44]:
male= []
female= []
total= []
i= 1

for count in student_counts:
    if (i % 3 == 1):
        male.append(count)
    elif (i % 3 == 2):
        female.append(count)
    else:
        total.append(count)
    i+= 1

print(male)
print(female)
print(total)

['1,615', '1,912', '1,832', '1,504', '1,301', '233', '430', '300', '917', '1,013', '2,872', '858', '608', '349', '15,744']
['2,148', '815', '1,140', '746', '1,981', '402', '727', '824', '262', '1,358', '575', '296', '311', '546', '12,131']
['3,763', '2,727', '2,972', '2,250', '3,282', '635', '1,157', '1,124', '1,179', '2,371', '3,447', '1,154', '919', '895', '27,875']

#### Output to CSV

In [45]:
df = pd.DataFrame([], columns=['Department', 'Male', 'Female', 'Total'])

df['Department'] = pd.Series(department_names)
df['Male'] = pd.Series(male)
df['Female'] = pd.Series(female)
df['Total']= pd.Series(total)
display(df)

df.to_csv(csv_out, index=False)

                          Department    Male  Female   Total
0                            Letters   1,615   2,148   3,763
1                          Economics   1,912     815   2,727
2            Business Administration   1,832   1,140   2,972
3                                Law   1,504     746   2,250
4                          Sociology   1,301   1,981   3,282
5       Regional Development Studies     233     402     635
6        Global and Regional Studies     430     727   1,157
7   International Tourism Management     300     824   1,124
8                              INIAD     917     262   1,179
9                  Human Life Design   1,013   1,358   2,371
10           Science and Engineering   2,872     575   3,447
11     Information Sciences and Arts     858     296   1,154
12                     Life Sciences     608     311     919
13     Food and Nutritional Sciences     349     546     895
14                             Total  15,744  12,131  27,875